# Python
__pycache__/
*.py[cod]
*$py.class
.env
venv/
ENV/

# Node
node_modules/
dist/
build/
.DS_Store

# Local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vite
*.local

# YOLO
*.pt

# Data & Snapshots
backend/snapshots/
backend/zones.local.json

# Android
frontend/android/.gradle/
frontend/android/.gradle_home/
frontend/android/local.properties
frontend/android/app/build/
frontend/android/build/
*.apk
